{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": 0,
    "semi": [2, "never"],
    "prettier/prettier": 2,
    "import/extensions": 0,
    "operator-linebreak": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-explicit-any": 0
  }
}
